altgraph==0.17.4
appdirs==1.4.4
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
numpy==2.3.3
ordered-set==4.1.0
packaging==25.0
pandas==2.3.3
pefile==2023.2.7
pillow==11.3.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyLaTeX==1.4.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.1
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
QtPy==2.4.3
requests==2.32.5
setuptools==80.9.0
shiboken6==6.10.0
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
