body {
  font-family: Sans-serif;
}

.vertical-menu {
    width: 40%;
    padding: 6px;
  }
  
  .vertical-menu a {
    color: black;
    display: block;
    padding: 6px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #b56868;
  }
  
  .vertical-menu a.active {
    background-color: #b71414;
    color: white;
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;  
    padding: 5px;
  }
   
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.grid-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    background-color: #b71414;
    padding: 5px;
    height:150px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 25px;
    text-align: center;
    height:72px;
  }

  .footer {
    color: white;
    position:relative;
    bottom: 1px;
    width:99%;
    height:40px;
    background-color: #b71414;
}

.tip {
  font-size: 25px;
}