body {
  font-family: Sans-serif;
}

.vertical-menu {
    width: 40%;
    padding: 5px;
  }
  
  .vertical-menu a {
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #b56868;
  }
  
  .vertical-menu a.active {
    background-color: #b71414;
    color: white;
  }
  * {
    box-sizing: border-box;
  }
  
  .row { 
    padding: 0px;
  }

  .column {
    float: left;  
    padding: 0px;
  }
   
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.grid-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    background-color: #b71414;
    padding: 5px;
    height:160px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    
    font-size: 25px;
    text-align: center;
    height:75px;
  }

  .footer {
    font-size: 10px;
    font-style: italic;
  }

.myiframe {
  font-family: Sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper img{
  object-fit:contain;
  width: 98%;
  height: 480px;
}

.wrapper_all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_all img{
  object-fit:contain;
  width: 98%;
  height: 372px;
}

.wrapper_all_tip {
  padding: 5px;
}